<div class="bg-gray-100 min-h-screen text-gray-800">
  <header>
    <!-- Include il componente header creato -->
    <app-header></app-header>
  </header>
  <main>
    <!-- Hero Section -->
     <app-hero></app-hero>
    <!-- About Section -->
    <app-about></app-about>
    <!-- Projects Section -->
    <app-projects [projects]="projects"
    (projectSelected)="handleProjectSelected($event)">
    </app-projects>
     <!-- Skills Section -->
    <app-skills></app-skills>
    <!-- Contact Section -->
    <app-contact></app-contact>
    <app-footer></app-footer>
  </main>
  <footer class="bg-gray-800 text-white text-center py-4">
    <p>&copy; {{ currentYear }} MykeDev 360°. All rights reserved.</p>
  </footer>
</div>


<router-outlet />
